@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

th {
  text-align: left;
}

#status {
  background-color: rgb(235, 245, 232);
  border-radius: 25px;
  height: 250px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#send-button {
  padding: 10px;
  color: white;
  border: none;
  background-color: rgb(146, 45, 240);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#send-button:hover {
  background-color: rgb(164, 86, 236);
}

.client-server {
  background-color: rgb(253, 242, 206);
}

.server {
  background-color: rgb(214, 224, 243);
}

.server-client {
  background-color: rgb(225, 248, 225);
}

.client {
  background-color: rgb(240, 212, 212);
}

.nav-link {
  flex: 1;
  text-align: center;
  background-color: rgb(75, 75, 75);
  color: white;
  height: 40px;
  font-size: 1.2rem;
}

.nav-link:hover {
  background-color: rgb(105, 104, 104);
}

/* RESPONSIVE */

@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
}
